.container {
    color: aliceblue;
    margin-top: 2%;
    margin-left: 2%;
}

.btn-primary {
    margin-right: 1%;
}

p {
    margin-bottom: 0.5%;
    font-size: 16px;
}

b {
    color: rgb(255, 208, 0);
}

h4 {
    margin-top: 2%;
    margin-bottom: 2%;
}
button {
    margin-right: 2%;
}

.alert-success {
    width: 50%;
}

@media only screen and (max-width: 650px) {
    h2 {
        font-size: 25px;
    }
    h4 {
        font-size: 22px;
        margin-top: 8%;
    }
    button {
        margin-bottom: 2%;
    }
}
@media only screen and (max-width: 300px) {
    button {
        width: 200px;
    }
}