<div *ngIf="isLoaded" class="container">
  <div *ngIf="message" class="alert alert-success">
    {{message}}
  </div>
  <h2>You are going to delete this Author {{currentAuthor.name}} {{currentAuthor.surname}}</h2>
    <h6><b>Name:</b> {{currentAuthor.name}}</h6>
    <h6><b>Surname:</b> {{currentAuthor.surname}}</h6>
    <h6><b>Father's Name:</b> {{currentAuthor.fName}}</h6>
    <h6><b>Birthday:</b> {{currentAuthor.birthday}}</h6>
    <h6><b>Books:</b> {{currentAuthor.books}}</h6>
    
    <h4>Are you sure you want to delete this author?</h4>

    <button class="btn btn-primary" (click)="returnToList()">Cancel</button>
    <button class="btn btn-danger" (click)="deleteAuthor()"> Delete current Author</button>
  </div>
